html {
  box-sizing: border-box;
  /* padding: 10px; */
  font-family: 'Montserrat', sans-serif;
}

html, body{
width: 100%;
height: 100%;
padding: 0;
margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.login-div{
  display:flex;
  width: 100%;
  background-color: #16111c;
  padding: .5em;

}
.login-system-ul{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;

}
.login-system-ul li{
  text-decoration: none;
  list-style-type: none;
}

.login-system-ul li button, .buttonStyle {
  background-color:#6c5fc7;
  border-color:#6c5fc7;
  text-align: center;
  /* border: 2px, solid, transparent; */
  border-radius: .25rem;
  line-height: 1.5;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}

.login-system-ul li button:hover, .login-system-ul li button:active, .buttonStyle:active, .buttonStyle:hover  {
  background-color:#5243bd;
  border-color: #4e3fb4;
}
.login-system-ul li button:focus{
  outline: 0;
}


.nav-login, .nav-register{
  margin-top:3em;
  text-align: center;
  padding:10%;
  width: 80%;
  height: 80%;
  border: 1px solid #c9c0d1;
  z-index: 1;
  position: absolute;
  text-align: center;
  background-color: #342c3e;
  border-radius: .25em;
  color: #fff
}

.nav-login input, .nav-register input{
  box-shadow: inset 0 2px 0 rgba(0,0,0,.04);
    height: auto;
    border: 1px solid #c9c0d1;
    padding: 8px 12px 7px;
    position: relative;
    border-radius: 3px;
    color: #493e54;
}
.nav-login input, .nav-register input{
  outline: 0;
}

.modal-text{
  font-size: 1.4em;
  font-weight: 400;
}

.requests-zone{
  background: #16111c;
  text-align: center;
}

.requests-zone h3{
  margin-top: 0;
  padding-top: 1.4em;
  color: #fff;
  text-decoration: underline;
}

.request-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #16111c;
  padding: 3em;
}

.request-card {
  margin: 10px;
  padding: .5em;
  color: #fff;
  margin: 0 3em;
  width: 33%;
  outline: 1px solid #fff;
  background: linear-gradient(
    #342c3e, #342c3e 50%, #fff 50%, #fff
  );
  background-size: 100% 200%;
  transition: all 0.4s ease;
}
.request-card:hover{
  background-position: 100% -100%;
  color: #342c3e;
}

.heroImage{
width: 100%;
background-image: url(./images/white-waves.png);
padding: 1em 4em;
text-align: center;
}

.heroTextWrapper{
  border: 2px solid #6c5fc7;
  border-radius: 6px;
}
.heroImage p {
  margin-top: 0;
  padding: .8em 0;
}

.completed-requests-zone{
  text-align: center;
}
.completed-requests-zone h3{
  text-decoration: underline;
}
.completed-requests{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #faf8ff;
}
.completed-request{
  padding: .5em;
  background: linear-gradient(
    #fff, #fff 50%, #342c3e 50%, #342c3e
  );
  background-size: 100% 200%;
  margin: 10px;
  width: 25%;
  outline: 1px solid black;
  transition: all 0.4s ease;
}

.completed-request:hover{
  background-position: 100% 100%;
  color: #fff;
}

.blueText{
  color:#5243bd;
  font-size: 1.2em;
  font-weight: 400;
  text-decoration: underline;
}
.receiveText{
  color: #57be8c;
}

.navLink{
  display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid transparent;
    padding: 0.375em 0.75em;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
text-decoration: none;
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #342c3e;
}

.navLink:hover{
  color: #ffffff;
  background-color: #342c3e;
  border-color: #342c3e;
}

.checkout{
  outline: 1px solid #16111c;
  padding: 2em;
  display: flex;
  flex-direction: column;
align-items: center;
}

.checkout label{
  width: 90%
}

.checkout input, .checkout textarea{
  box-shadow: inset 0 2px 0 rgba(0,0,0,.04);
    height: 100%;
    border: 1px solid #c9c0d1;
    padding: 8px 12px 7px;
    position: relative;
    border-radius: 3px;
    color: #493e54;
    outline: 0;
    width: 100%;
}
.checkout .form-text-area{
  height: 5em;
  padding-bottom: .5em;
}

.replies-form{
  display: flex;
  flex-direction: column;
  align-items: center;
padding: 2em;
}
.button-div{
  text-align: center;
}

.replies-form input, .replies-form textarea{
  box-shadow: inset 0 2px 0 rgba(0,0,0,.04);
    height: 100%;
    border: 1px solid #c9c0d1;
    padding: 8px 12px 7px;
    position: relative;
    border-radius: 3px;
    color: #493e54;
    outline: 0;
    width: 100%;
}