.request-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.request-card {
  margin: 0 10px;
  width: 25%;
  outline: 1px solid black;
}

.completed-requests{
  display:flex;
  flex-wrap: wrap;
}
.completed-request{
  margin: 0 10px;
  width: 25%;
  outline: 1px solid black;
}